# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code
.vscode/

# Environment Variables
.env

# Uploaded Images
static/uploads/

# Log Files
*.log

# OS Files
.DS_Store
Thumbs.db
